<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="assets/css/styles.css">


        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Impelled</title>
    </head>
    <body>

        
        <!--===== cursor =====-->
        <div class="custom-cursor-element">
            <div class="cursor-trail"></div>
            <div class="cursor-particle"></div>
          </div>
          
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Impelled</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="../index.html" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="../about.html" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#gallery" class="nav__link">Project Gallery</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li> 
                        <li class="nav__item"><a href="../design.html" class="nav__link">Designs</a></li>

                    </ul>
                   
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'm<span class="home__title-color"> Johnny</span><br> Web, Software <br> & Multimedia <br>Designer.</h1>

                    <li class="button"><a href="#contact" class="nav__link">Contact</a></li> 
                </div>
               


                
                <div class="home__social">
                    <a href="https://www.linkedin.com/in/luke-george-4921751a7/" class= "home__social-icon"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://www.instagram.com/johnny_verissimus/" class= "home__social-icon"><i class='bx bxl-instagram'></i></a>
                    <a href="https://github.com/Luke-JG" class= "home__social-icon"><i class='bx bxl-github' ></i></a>
              
                </div>

                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Define a circular mask -->
                      <mask id="mask0" mask-type="alpha">
                        <circle cx="239.5" cy="233.5" r="200" fill="white" />
                      </mask>
                      <!-- Apply the circular mask to the blob path -->
                      <g mask="url(#mask0)">
                        <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        <!-- Add an image or content inside the circular blob -->
                        <image class="home__blob-img" x="-10.5" y="-105" href="assets/img/prefil.png"/>
                      </g>
                    </svg>
                  </div>
                  
                  
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="assets/img/about.png" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'm Johnny</h2>
                        <p class="about__text">Greetings! I'm your friendly neighbourhood brain in a bone mech, delving into the realms of Java and web development. From crafting code that sings to conjuring immersive web experiences, Essentially your tech tour guide. When I'm not chasing code, I'm conjuring multimedia marvels – think pixel-perfect graphics and mesmerizing videos. </p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">"Multifaceted creative adept in HTML, CSS, JS, Adobe Suite (Illustrator, Photoshop, InDesign, Premiere Pro), and CorelDRAW. Crafting captivating websites, visuals, and videos with seamless skill."</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>k
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">95%</span>
                            </div>
                        </div>   <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">Adobe Suite</span>
                            </div>
                            <div class="skills__bar skills__css">

                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">UX/UI</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">CorelDRAW</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <style>/* Dark Background Styles */
                            .advanced-gallery.dark-background {
                              background-color: #f31d1d; /* Dark grey background color */
                              color: #fff; /* White text color for better contrast */
                              /* Add any additional styles as needed */
                            }
                            
                            /* Gallery Container Styles */
                            .advanced-gallery-container {
                              display: flex;
                              flex-wrap: wrap;
                              justify-content: center;
                              gap: 1rem; /* Adjust the gap between cards as needed */
                              max-width: 1200px;
                              margin: 0 auto;
                              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                            }
                            
                            /* Gallery Styles */
                            .gallery {
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              flex-wrap: wrap;
                              gap: 20px;
                              padding: 20px;
                            }
                            
                            /* Card Styles */
                            .card {
                              background-color: #161616;
                              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                              padding: 20px;
                              max-width: 300px;
                              text-align: center;
                            }
                            
                            .card img {
                              max-width: 100%;
                            }
                            
                            .card h2 {
                              font-size: 24px;
                              margin: 10px 0;
                            }
                            
                            .card p {
                              font-size: 16px;
                            }</style>
                    
                    </div>
                    
                    <div>              
                        <img src="assets/img/work3.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>


            

       <!--       Interests 
          
            <section class="work section" id="interests">
                <h2 class="section-title">Interests</h2>
                <div class="interests__container bd-grid">
                 
                    <div class="work__item">
                        <a href="javascript:void(0);" class="work__img" onclick="openModal('interests-modal-1')">
                            <img src="assets/img/cat.gif" alt="Pixel Art">
                        </a>
                    </div>
                 
                    <div class="work__item">
                        <a href="javascript:void(0);" class="work__img" onclick="openModal('interests-modal-2')">
                            <img src="assets/img/guts.gif" alt="Old Media">
                        </a>
                    </div>
                   
                    <div class="work__item">
                        <a href="javascript:void(0);" class="work__img" onclick="openModal('interests-modal-3')">
                            <img src="assets/img/deck.gif" alt="Cyberdecks">
                        </a>
                    </div>
                    
                    <div class="work__item">
                        <a href="javascript:void(0);" class="work__img" onclick="openModal('interests-modal-4')">
                            <img src="assets/img/food.gif" alt="Cooking">
                        </a>
                    </div>
                </div>
            </section>
            
          
            <div id="interests-modal-1" class="modal">
                <div class="modal-content">
                    <span class="close-modal" onclick="closeModal('interests-modal-1')">&times;</span>
                    <img src="assets/img/cat.gif" alt="Pixel Art">
                    <p>Pixel art captivates with its nostalgic yet imaginative beauty, crafting intricate details and harmonious compositions within the confines of a minimalist, pixelated canvas.</p>
                </div>
            </div>
            
           
            <div id="interests-modal-2" class="modal">
                <div class="modal-content">
                    <span class="close-modal" onclick="closeModal('interests-modal-2')">&times;</span>
                    <img src="assets/img/guts.gif" alt="Old Media">
                    <p>Old Media with its evocative storytelling and enduring characters, creating a time-capsule of heartfelt emotions and artistic ingenuity.</p>
                </div>
            </div>
            
            
            <div id="interests-modal-3" class="modal">
                <div class="modal-content">
                    <span class="close-modal" onclick="closeModal('interests-modal-3')">&times;</span>
                    <img src="assets/img/deck.gif" alt="Cyberdecks">
                    <p>In the realm of cyberdecks and DIY tech like Raspberry Pi, a captivating synergy emerges as futuristic possibilities intertwine with the satisfaction of hands-on ingenuity.</p>
                </div>
            </div>
            
            
            <div id="interests-modal-4" class="modal">
                <div class="modal-content">
                    <span class="close-modal" onclick="closeModal('interests-modal-4')">&times;</span>
                    <img src="assets/img/food.gif" alt="Cooking">
                    <p>Cooking is a delightful art, where ingredients meld into a symphony of flavors and textures, offering both sustenance and creative expression.</p>
                </div>
            </div>
            
                <script>function openModal(modalId) {
                    document.getElementById(modalId).style.display = "block";
                }
                
                function closeModal(modalId) {
                    document.getElementById(modalId).style.display = "none";
                }
                 </script>
  -->
<!-- Advanced Gallery Section -->
<section class="advanced-gallery" id="gallery">
    <h2 class="section-title">Projects Gallery</h2>

    <!-- Advanced Gallery Container -->
    <div class="advanced-gallery-container">

        <!-- Card 1: Web Scraper Project -->
        <article class="card">
            <img src="assets/img/web.png" alt="Web Scraper Project">
            <div class="card-details">
                <h3>Web Scraper</h3>
                <p>A Python web scraper that extracts data from websites.</p>
                <a href="https://github.com/Luke-JG/Projects/tree/main/WebScraping" class="btn" target="_blank" rel="noopener noreferrer">View Code</a>
            </div>
        </article>

        <!-- Card 2: Weather App Project -->
        <article class="card">
            <img src="assets/img/rainy.png" alt="Weather App">
            <div class="card-details">
                <h3>Weather Application</h3>
                <p>Displays weather from searched locations.</p>
                <a href="https://github.com/Luke-JG/Projects/tree/main/WeatherApp" class="btn" target="_blank" rel="noopener noreferrer">View Code</a>
            </div>
        </article>

        <!-- Card 3: Open Github Project -->
        <article class="card">
            <img src="assets/img/github.png" alt="Open Github">
            <div class="card-details">
                <h3>Open Github</h3>
                <p>Go to all other projects.</p>
                <a href="https://github.com/Luke-JG/Projects/tree/main" class="btn" target="_blank" rel="noopener noreferrer">View Projects</a>
            </div>
        </article>

        <!-- Add more cards for other projects as needed -->

    </div>
</section>


            
            <!--===== CONTACT =====-->
           
        </main>
        <section class="Contact section " id="contact">
            <h2 class="section-title">Contact</h2>
        <div id="wrapper">
            <form class="form">
              <p class="field required half">
                <label class="label required" for="name">Name</label>
                <input class="text-input" id="name" name="name" required="<%= true %>" type="text"></input>
              </p>
              <p class="field required half">
                <label class="label" for="email">E-mail</label>
                <input class="text-input" id="email" name="email" required="<%= true %>" type="email"></input>
              </p>
              <p class="field">
                <label class="label" for="message">Message</label>
                <textarea class="textarea" cols="50" id="message" name="message" required="<%= true %>" rows="4"></textarea>
              </p>
              <p class="field">
                <input class="button" type="submit" value="Send message"></input>
              </p>
            </form>
          </div>

          <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('spiralnerv', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#323842',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
          
        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Johnny</p>
            <div class="footer__social">
                <a href="https://www.linkedin.com/in/luke-george-4921751a7/" class="footer__icon"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://www.instagram.com/johnny_verissimus/" class="footer__icon"><i class='bx bxl-instagram'></i></a>
                <a href="https://github.com/Luke-JG" class="footer__icon"><i class='bx bxl-github' ></i></a>
            </div>
            <p class="footer__copy">&#169; Impelled. All rigths reserved</p>
        </footer>
    
      
        

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>


    
        <!--===== MAIN JS =====-->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
